<div class="row">
    <div class="col-auto col-md-4 p-3"> 

        <h5>Contact us</h5>

        <span>DFD App Inc.</span>
        <p>ST-2D, Block-17<br /> Gulshan-e-Iqbal</p>

        <a href="mailto:huzaifa1999872@hotmail.com" class="btn btn-default"><img src="{{url_for('static', filename = 'images/mail.png')}}" alt="Mail.png">&nbsp; Send us a mail</a>
    </div>
    <div class="col-auto col-md-4 p-3">

        <h5>Find us at</h5>
        <br>
        <a href="https://www.facebook.com/" class="face p-3"></a>
        <a href="mailto:huzaifa1999872@hotmail.com" class="gmail p-3"></a>
        <a href="https://twitter.com/" class="twit p-3"></a>
    </div>
    <div class=" col-auto col-md-4 p-3">

        <h5>Compatible devices</h5>
        <br>    
        <a href="#" class="android mx-auto p-3"><img src="{{url_for('static', filename = 'images/androd.png')}}" alt=""></a>
        <a href="#" class="ios mx-auto p-3"><img src="{{url_for('static', filename = 'images/ios_51.png')}}" alt=""></a>
        <a href="#" class="window mx-auto p-3"><img src="{{url_for('static', filename = 'images/window.png')}}" alt=""></a> 
    </div>
    <hr/>
    <p>&copy; DFD-Team {{ year }} - All rights reserved.</p>
</div>
    
