<nav class="navbar navbar-expand-md navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img class="lefter" src="{{url_for('static',filename='Images/logo@2x.png')}}" height="60" width="60" alt="Logo">DeepFake <br/> <em>Detector</em>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link " href="{{ url_for('home') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('about') }}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                {%if current_user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Hello! {{current_user.name}}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href="{{ url_for('dashboard')}}">Dashboard</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('update', id=current_user.id)}}">Update Info</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('Detect_page')}}" >Detector</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout')}}">logout</a>
                    </li>
                {%else%}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('login')}}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('add_user')}}">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>